*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0 auto;
    background-color: #FEF9F3;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 8% 92%;
    grid-template-rows: 8% 92%;
    grid-template-areas: 
    "aside cabecao cabecao"
    "aside caixa caixa"
    "aside caixa caixa";
}

#lateral{
    background-color: #F0FAF1 ;
    grid-area: aside;
    size: 10px;
    border-right: solid 1px #D7E7E8;
    display: flex;
    flex-direction: column;
}

#cabecao{
    background-color: #FEF9F3;
    grid-area: cabecao;
    border-bottom: solid 1px #D7E7E8 ;
}

#dash{
    background-color: #FEF9F3;
    grid-area: caixa;
}
a{
    margin-top: 25px;
    text-decoration: none;
    color: #466F61;
    font-size: 20px;
    margin-left: 5px;
    position: relative;
}

#title{
    border-bottom: solid 1px #D7E7E8;
    color: #466F61;
    height: 120px;
}

#title h1{
    margin-top: 20px;
    font-size: 28px;
}
#title h6{
    color: #00C3B4;
}

/* Animacao */
.animacao::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 90px;
    height: 3px;
    background: #466F61;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .4s;
    transform-origin: right;
}

.animacao:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.ativado::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 90px;
    height: 3px;
    background: #466F61;
    border-radius: 5px;
}

/* Dashboard */
.infodash{
    width: 300px;
    height: 150px;
    background-color: #FEFEFD;
    border: solid 1px #EAE3D8;
    border-radius: 10px;
    color: #466F61;
}

.conte{
    margin-left: 30px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;

}

.infodash p{
    font-size: 25px;
    font-weight:bolder;
}

#resumo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#dash h1, h2{
    color: #00C3B4;
    margin-left: 68px;
}

#dash h2{
    color: #466F61;
    margin-left: 68px;
    font-weight: normal;
}

.grafico{
    background-color: #FEFEFD;
    border: solid 1px #EAE3D8;
    width: 750px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}
.grafico h2{
    align-self: center;
}

.fbloco h6{
    color: #466F61;
}
.fbloco h4{
    color: #466F61;
    margin-bottom: 10px;
    font-weight: bold;
}

.barra{
    background-color: #00C3B4;
    color: #fff;
    text-align: center;
}

.progress{
    width: 90%;
}

#graficos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    gap: 0px;
}

#contgrafico{
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 50px;
    justify-content: center;
}

.contgraf{
    background-color: #F4F9F9;
    color: #466F61;
    width: 700px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 18px;
    gap: 15px;
    margin-top: 20px;
}
#Tgraf{
    text-align: center;
    list-style-type: none;
    color: #466F61;
}

#Tgraf h4{
    font-size: 15px;
    text-align: center;
    margin-left: 70px;
}